/*
// File name: App.css
// Student name: Vu Huy Hoang Son
// Student ID: 301366093
// Date: 21 Sep 2024
*/
#root {
  max-width: 1280px;
  margin: 0 ;
  padding:0;
  text-align: center;
}
header{
  margin: 0;
  padding: 0;
}
header.logo {
  height: 36px;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}
header.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
header.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
